@{
    ViewData["Title"] = "Home Page";
}

<div class="homeIndex">
<div class="text-center">
 
    <h1 class="display-4 mt-3 ">WELCOME @User.Identity.Name</h1>
    <h2 class="mt-5 fs-1 mb-3">Let's get productive!</h2>
    <div class="container">
    <img/>
    </div>
    
    
</div>
</div>