@model CategoryCreate

@{
    ViewData["Title"] = "Create a Category";
}

<h1>Add A Category</h1>
<hr>
<form asp-action="Create" method="post" class="row g-3">
    <div class = "col-md-6 form-floating mb-2">
        <input asp-for="Type" class="form-control" placeholder="Type">
        <label asp-for="Type" class="form-label"></label>
    </div>
    <div class="d-flex">
        <input type="submit" value="Add" class="button">
        
    </div>
    <div class="d-flex">
       <a asp-action="Index" class="button">Return to List</a> 
    </div>
</form>